<!doctype html>
<html lang="en">
  <head>
    <title>M07 Guestbook</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body class="container">
    <h1 class="page-header">
        Express Guestbook
        
        <a href="/new-entry" class="btn btn-primary btn-create float-right">
            Write in the guestbook
        </a>
    </h1>
    